.hero-slider-area {
  & .swiper-slide-active {
    .text {
      &.delay1 {
        animation: fadeInLeft 1s ease-in-out;
      }
    }
    .title {
      &.delay2 {
        animation: fadeInLeft 1.5s ease-in-out;
      }
    }
    .text {
      animation: fadeInLeft 2s ease-in-out;
    }
    .btn {
      &.delay2 {
        animation: fadeInLeft 2.5s ease-in-out;
      }
      &.delay1 {
        animation: fadeInLeft 3s ease-in-out;
      }
    }
  }
  .intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 380px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.slider-content {
  & * {
    font-family: "Inter";
  }
  .text {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    margin-bottom: 25px;
  }
  .title {
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    margin-bottom: 65px;

    span {
      font-weight: 300;
    }
  }

  .btn {
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;

    @include mq("lg") {
      font-size: 16px;
      padding: 15px 30px;
    }
  }
}

.btn-danger {
  background: #6d0101;
  border-color: #6d0101;
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    background: #000;
    border-color: #000;
  }
}

.btn-outline-secondary {
  border-color: #fff;
  &:hover {
    background: #000;
    border-color: #000;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.hero-slider-area {
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    font-size: 25px;
    background: #fff;
    color: #000;

    &:hover {
      background: #000;
      color: #fff;
    }
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    transition: all 0.3s;
    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    left: auto;
    right: 0px;
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      visibility: visible;
    }

    .swiper-button-prev {
      left: 30px;
    }
    .swiper-button-next {
      left: auto;
      right: 30px;
    }
  }
}

.payment-status-area {
  i.ri-close-line {
    font-size: 64px;
    color: red;
  }
  i.ri-check-line {
    font-size: 64px;
    color: green;
    vertical-align: middle;
  }
  span {
    font-size: 24px;
    color: green;
  }
  h6 {
    color: #198754;
    font-size: 24px;
    font-family: "Roboto Condensed";
    font-weight: 500 !important;
  }
  .payment-danger {
    h6 {
      color: red;
      font-size: 24px;
      font-family: "Roboto Condensed";
      font-weight: 500 !important;
    }
  }
}

.timeline {
  display: flex;
  align-items: center;
  height: 232px;
}
.event {
  position: relative;
}

.eventBubble {
  position: absolute;
  // background-color: rgba(158, 158, 158, 0.1);
  background: var(--gradientColor);
  border-radius: 10px;
  width: 200px;
  height: 106px;
  top: -112px;
  left: -80px;
  // border: 1px solid rgb(136, 131, 131);
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64);

  @media #{$xs-device} {
    position: absolute;
    background: var(--gradientColor);
    border-radius: 10px;
    width: 116px;
    height: 106px;
    top: -112px;
    left: -40px;
    -webkit-box-shadow: inset 0 0 5px rgb(158 158 158 / 64%);
    box-shadow: inset 0 0 5px rgb(158 158 158 / 64%);
  }
  @media #{$xxs-device} {
    position: absolute;
    background: var(--gradientColor);
    border-radius: 10px;
    width: 116px;
    height: 106px;
    top: -112px;
    left: -40px;
    -webkit-box-shadow: inset 0 0 5px rgb(158 158 158 / 64%);
    box-shadow: inset 0 0 5px rgb(158 158 158 / 64%);
  }
}

.eventTitle {
  // font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 12.5px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
  @media #{$xs-device} {
    font-size: 9.5px;
  }
  @media #{$xxs-device} {
    font-size: 9.5px;
  }
}

.time {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 72px;
  font-size: 8px;
  margin-top: -3px;
  margin-left: -20px;
  color: #9e9e9e;
}

.now {
  background-color: #004165;
  color: white;
  border-radius: 7px;
  margin: 5px;
  padding: 4px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
  font-weight: bold;
  box-shadow: 0 0 0 2px #004165;
}

.consultation-area {
  // background: url("/images/consultancy-bg.svg") center center/cover no-repeat;
  .tel-box {
    // display: flex;
    // justify-content: center;
    margin-bottom: 48px;
    h4 {
      color: var(--blackColor);
      font-weight: 500;
      padding-top: 16px;
      margin-left: 16px;

      @media #{$xxs-device} {
        font-size: 12.5px;
      }
      @media #{$xs-device} {
        font-size: 12.5px;
      }
    }
    svg {
      height: 64px;
    }
  }
  .consultancy-form {
    // border: 1px solid pink;
    margin-top: 24px;
    margin-bottom: 48px;

    @media #{$xxs-device} {
      border: none;
    }
    @media #{$xs-device} {
      border: none;
    }

    h6 {
      background: var(--gradientColor);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.1em;
      font-weight: 600;
      padding: 16px;
    }
    .form-label {
      font-weight: 600;
    }
    p {
      color: red;
    }
    button {
      margin-bottom: 16px;
    }
  }
}

.consultancy-faq {
  p {
    color: rgb(2, 158, 127);
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}

.video-playlist-area {
  margin-bottom: 50px;
  margin-top: 16px;
  .playlist {
    ul {
      list-style-type: none;
      padding-left: 0px;
      li {
        padding-top: 8px;
        .playlist-item {
          display: flex;
          cursor: pointer;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #0087ca;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          h6 {
            padding-right: 8px;
            font-weight: 600;
          }
          i.bx-play-circle {
            vertical-align: middle;
            font-size: 24px;
            color: crimson;
          }
        }
      }
    }
  }
  #studionmovieonline {
    height: 400px;
  }
}

.service-card {
  width: 100%;
  display: inline-block;
  // margin: 1rem;
  margin-bottom: 12px;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;

  &:hover,
  &.hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);

    & .service-card-content {
      box-shadow: inset 0 3px 0 0 #ccb65e;
      border-color: #ccb65e;
    }

    & .service-card-img .overlay {
      background-color: rgba(25, 29, 38, 0.85);
      transition: opacity 0.2s ease;
      opacity: 1;
    }
  }

  &-img {
    position: relative;
    height: 224px;
    width: 100%;
    background-color: #fff;
    transition: opacity 0.2s ease;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    & .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;

      & .overlay-content {
        line-height: 224px;
        width: 100%;
        text-align: center;
        color: #fff;

        & a {
          color: #fff;
          padding: 0 2rem;
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, 0.4);
          height: 40px;
          line-height: 40px;
          border-radius: 20px;
          cursor: pointer;
          text-decoration: none;

          &:hover,
          &.hover {
            background: #ccb65e;
            border-color: #ccb65e;
          }
        }
      }
    }
  }

  &-content {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e9e9eb;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 0.2s ease;

    & span {
      background: var(--gradientColor);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: white;
      padding-left: 30px;
      font-weight: 600;
      letter-spacing: 0.06em;
      font-family: "Roboto";
    }
    .price-group {
      margin-top: 6px;
      h6 {
        text-decoration: line-through;
        padding-right: 6px;
        font-weight: 500;
      }
      p {
        margin-bottom: 0.5rem;
        font-family: "Roboto";
        font-weight: 600;
        letter-spacing: 0.06em;
        font-size: 14px;
        color: orangered;
      }
    }
    .serviceName {
      min-height: 72px;
      border-top: 2px solid #ccb65e;
      & h4 {
        font-size: 16.5px;
        padding-top: 16px;
        font-family: "Roboto Condensed", sans-serif;
        color: #462929;
        letter-spacing: 0.09em;
      }
    }

    // & a {
    //   text-decoration: none;
    //   color: #202927;
    // }

    & h2 {
      border: none;
      border-radius: 30px;

      background-color: #126ef9;
      color: #fff;

      font-size: 1rem;
      font-weight: 500;

      padding: 6px 24px;
      margin-bottom: 0px;
    }

    & p {
      font-size: 0.8rem;
      font-weight: 400;
      white-space: nowrap;
      // overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(32, 41, 28, 0.8);
    }
  }
}
