.contact-info-area {
  text-align: center;
  position: relative;
  z-index: 1;

  h2 {
    color: var(--whiteColor);
    line-height: 1.4;
    max-width: 600px;
    margin: {
      left: auto;
      right: auto;
      bottom: 40px;
    }
    font: {
      size: 36px;
      weight: 400;
    }
  }
  .single-contact-info-box {
    padding: 30px;
  
    background-color: var(--whiteColor);

    .icon {
      width: 80px;
      height: 80px;
      font-size: 35px;
      position: relative;
      border-radius: 50%;
      color: var(--whiteColor);
      background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
      margin: {
        left: auto;
        right: auto;
        bottom: 20px;
      }
      i {
        left: 0;
        right: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
      }
      &.bg1 {
        background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
      }
      &.bg2 {
        background: linear-gradient(44.44deg, #3f75ff 7.79%, #4adeff 94.18%);
      }
    }
    h3 {
      line-height: 1.5;
      margin-bottom: 3px;
      font: {
        size: 18px;
        weight: 400;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.contact-area {
  background-color: #152733;   
  .contact-form { 
    .form-items {
        border: 3px solid #fff;
        padding: 40px;      
        width: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;

        @media #{$xs-device}{
          padding: 8px;    
        }
      

        h3 {
          color: #fff;
          text-align: left;
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 5px;          
        }
        p {
          color: #fff;
          text-align: left;
          font-size: 17px;
          font-weight: 300;
          line-height: 20px;
          // margin-bottom: 30px;
        }
        input {
          width: 100%;
          padding: 9px 20px;
          text-align: left;
          border: 0;
          outline: 0;
          border-radius: 6px;
          background-color: #fff;
          font-size: 15px;
          font-weight: 300;
          color: #363232;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-top: 16px;
        }
        textarea {
          position: static !important;
          width: 100%;
          padding: 8px 20px;
          border-radius: 6px;
          text-align: left;
          background-color: #fff;
          border: 0;
          font-size: 15px;
          font-weight: 300;
          color: #363232;
          outline: none;
          resize: none;
          height: 120px;
          -webkit-transition: none;
          transition: none;
          margin-top: 16px;
          margin-bottom: 14px;
        }
        form {
          p{
            color:#e39b51;
            padding:8px
          }
        }
    }
  }
  .maps {
    
    iframe {
      width: 100%;
      border: none;
      height: 500px;
      margin-bottom: -5px;
    }
  }
}
