.courses-area {
  .single-course-box {
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(146, 184, 255, 0.2);
  
    .course-image {
      border-radius: 5px 5px 0 0;
      position: relative;
      z-index: 1;
  
      .image {
        border-radius: 5px 5px 0 0;
  
        img {
          // border-radius: 5px 5px 0 0;
          width: 100% !important;
          height: 400px;
        }
      }
  
      .fav {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #fff;
        font-size: 30px;
        line-height: 1;
  
        &:hover {
          color: #fe4a55;
        }
      }    
    }

    .course-content {
      padding: 10px;
      a {
        font-size: 18px;
        font-weight: 500;    
        }
      p{
        padding-top: 8px;
      }
    }

  
    .courses-content {
      border-radius: 0 0 5px 5px;
      padding: 30px;
  
      .course-author {
        margin-bottom: 15px;
  
        img {
          width: 35px;
          height: 35px;
          margin-right: 10px;
        }
  
        span {
          color: #fe4a55;
          font-weight: 600;
          font-size: 15px;
        }
      }
  
      h3 {
        margin-bottom: 12px;
        line-height: 1.3;
        font-size: 24px;
        font-weight: 800;
  
        a {
          display: inline-block;
        }
      }
  
      .courses-box-footer {
        list-style-type: none;
        padding-left: 0;
        margin: 20px -7px 0;
  
        li {
          color: #606060;
          font-size: 15px;
          position: relative;
          padding-left: 25px;
          padding-right: 7px;
  
          i {
            color: #fe4a55;
            position: absolute;
            left: 7px;
            top: 0;
  
            &.flaticon-people {
              font-size: 18px;
              left: 3px;
            }
          }
        }
      }
    }

    .price {
      display: inline-block;
      background-color: #fe4a55;
      color: #fff;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      bottom: -32.5px;
      text-align: center;
      line-height: 67px;
      font-size: 24px;
      font-weight: 800;
    }
  
    &.bg-color {
      background-color: #fffaf3;
      box-shadow: unset;
      -moz-transition: .5s;
      transition: .5s;
  
      .courses-content h3 {
        margin-bottom: 10px;
      }
  
      &:hover {
        background-color: #fff;
        box-shadow: 0 8px 16px 0 rgba(146, 184, 255, 0.2);
      }
    }
  
    &.without-boxshadow {
      background-color: #fff;
      box-shadow: unset;
      -moz-transition: .5s;
      transition: .5s;
  
      .courses-content h3 {
        margin-bottom: 10px;
      }
  
      &.active, &:hover {
        box-shadow: 0 8px 16px 0 rgba(146, 184, 255, 0.2);
      }
    }

    .course-inf {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 35px;
      border-top: 1px dashed rgb(175 168 168 / 50%);
  
      &__item {
        padding: 10px 35px;
        min-width: 150px;
        text-align: center;
  
        @media screen and (max-width: 768px) {
          padding: 10px 20px;
          min-width: 120px;
        }
  
      }
  
      &__title {
        font-weight: 700;
        font-size: 27px;
        //color: #6944ff;
        color: #324e63;
      }
  
      &__txt {
        font-weight: 500;
        margin-top: 7px;
      }
  
    }
  



  }
}