.header-top {
  padding-top: 2px;
  background: #8f1b1b;
  border-bottom: 1px solid #9d3a3a;
  height: 32px;
  p {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    span {
      font-weight: 700;
    }
    i {
      margin-right: 4px;
      font-size: 18px;
    vertical-align: middle;
    }
  }

  .top-contact-info {
    list-style-type: none;
    color: white;
    li {
      display: inline-block;
      & + li {
        margin-left: 20px;
        @media #{$xxs-device} {
          margin-left: 8px;
        }
        @media #{$xs-device} {
          margin-left: 8px;
        }
      }     

      i {
        font-size: 16px;
        vertical-align: middle;
        @media #{$xxs-device} {
          font-size: 12px;
        }
        @media #{$xs-device} {
          font-size: 12px;
        }
      }
      span{
        @media #{$xxs-device} {
          font-size: 8px;
        }
        @media #{$xs-device} {
          font-size: 8px;
        }
      }
    }
  }

  .social-links {
    li {
      display: inline-block;
      & + li {
        margin-left: 20px;
      }
      a {
        font-size: 16px;
        color: $white;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.header-middle {
     border-bottom: 1px solid #ddd;
}

.header-middle.sticky { 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 11;
  transition: all 0.3s;
  animation: fadeInDown 0.5s ease-in-out;
  // box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);

}



.media-wrap {
  display: flex;
  flex-wrap: wrap;
  @include max-screen(991) {
    flex-direction: column;
  }
}
.media {
  display: flex;
  span {
    align-self: center;
  }
}

.media-content {
  flex: 1;
}

.header-middle-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .join-btn{
    margin-left: auto;
    @media #{$xxs-device} {
     margin-right: 6px;
    }
    @media #{$xs-device} {
      margin-right: 6px;
    }
  }

  .logged-profile{
    @media #{$xxs-device} {
      display: none;
     
    }
    @media #{$xs-device} {
      display: none;  
    }
    @media #{$sm-device} {
      display: none;  
    }
    @media #{$md-device} {
      display: none;  
    }
  
  

     i{
       font-size: 24px;
       color: brown;
     }  
  }

  .hamburger-menu {
    width: 100px;
    display: none;
   
    @media #{$xxs-device} {
      display: inline;
      width: auto;
    }
    @media #{$xs-device} {
      display: inline;
      width: auto;
    }
    @media #{$sm-device} {
      display: inline;
      width: auto;
    }
    @media #{$md-device} {
      display: inline;
      width: auto;
    }
   
    button,
    a {
      color: black;
      font-size: 14px;
      line-height: 1;
      margin-left: 15px;
      vertical-align: middle;
  
      &:first-child {
        margin-left: 0;
      }
  
      &.btn-menu {
        background-color: transparent;
        border: none;
        box-shadow: none;
        height: 20px;
        margin-top: 0;
        position: relative;
        width: 23px;
        span {
          background-color: black;
          border-radius: 2px;
          display: block;
          height: 2px;
          position: absolute;
          right: 0;
          top: 45%;
          width: 100%;
          @include transition(0.3s);
  
          &:first-child {
            top: 0;
          }
  
          &:last-child {
            bottom: 1px;
            top: auto;
          }
        }
  
        &:hover {
          span {
            background-color: $black;
            &:first-child,
            &:last-child {
              width: 100%;
            }
          }
        }
      }
    }
   
  }

  .user-account{
    a
    {
    color: #242424;
    font-family: Archivo;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    }
    span{
      display: block;
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #2f4451;
    }
  }





}

.media-list {
  & + .media-list {
    @include min-screen(992) {
      margin-left: 50px;
    }
    @include max-screen(991) {
      margin-top: 15px;
    }
  }
}
.media-icon {
  color: #000;
  font-size: 24px;
  margin-right: 20px;

  @include min-screen(992) {
    color: #fff;
  }
}
.media-sub-heading {
  font-family: "Sarabun", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;

  @media #{$xl-device} {
    font-size: 12px;
  }
  @include min-screen(992) {
    color: #cccccc;
  }
}
.media-heading {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  &:hover {
    color: #000;
  }
  @media #{$xl-device} {
    font-size: 18px;
  }

  @include min-screen(992) {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.book-now-btn {
  border-radius: 25px;
  border: solid 1px white; 
  padding: 6px 8px;
  font-weight: 500;
  font-size: 12.5px;
  color: #fff;
  text-transform: uppercase; 
  background: #6d0101;
  display: inline-block;
  font-family: 'Roboto';
  &:hover {
    background: #000;
    color: #fff;
  }
  @media #{$xxs-device} {
    padding: 6px 10px;
    font-size: 10.5px;
   }
   @media #{$xs-device} {
    padding: 6px 10px;
    font-size: 10.5px;
   }
}

.main-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
  list-style-type: none;

  @media #{$md-device} {
    display: none;  
  }

  li {
    position: relative;
    & + li {
       margin-left: 6px;
    }

    &:hover {
      .sub-menu {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    &.active,
    &:hover {
      .main-menu-link {
        &::before {
          width: 100%;
        }
      }
    }
  }
  .main-menu-link {   
    padding: 15px 5px;
    display: block;
    color: #ed2775;
    font-family: 'ROBOTO CONDENSED';
    font-size: 12.5px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04em;


    &::before {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0%;
      height: 2px;
      background:#ed2775;
      content: "";
      transition: all 0.3s;
    }

   

  }
  .active
  {
    border-bottom: 2px solid #ed2775 ;
  }
}


.aside-menu {
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // margin-bottom: 2px;
  list-style-type: none;

ul{
  padding-left: 0px !important;


  li {
    position: relative;    

    &:hover {
      .sub-menu {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    &.active,
    &:hover {
      .main-menu-link {
        &::before {
          width: 100%;
        }
      }
    }
  }}
  .main-menu-link {   
    padding: 15px 5px;
    display: block;
    color: #ed2775;
    font-family: "Archivo";
    font-size: 11.5px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0%;
      height: 2px;
      background:#ed2775;
      content: "";
      transition: all 0.3s;
    }
   

  }
  .active
  {
    border-bottom: 2px solid #ed2775 ;
  }
}

.sub-menu {
  position: absolute;
  left: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
  padding: 15px 15px;
  min-width: 250px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.3s;
  list-style-type: none;
  li {
    & + li {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  &-link {
    padding: 5px 0px;
    color: #000;
    text-transform: capitalize;
    &:hover {
      padding-left: 5px;
    }
    &:hover,
    &.active {
      color: #000;
    }
  }
}

.aside-footer-area {
 
  .social-links {
    list-style: none;
      li {
        display: inline;
        padding: 4px 6px;
          a {
              background-color: #383d4a;
              color: var(--whiteColor);
          }
      }
  }
  
}


.offcanvas-header {
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px dashed rgba(204, 204, 204, 0.5);
}


     
.profile-menu {
  text-align: center;
  ul{
    list-style-type: none;
    margin-left: 0px ;
    padding-left: 0px;
    margin-bottom: 4px;
  }
  
 



  li {
    position: relative;
    margin-bottom: 8px;
    & + li {
      margin-bottom: 8px;
    }

    &:hover {
      .sub-menu {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    &.active,
    &:hover {
      .main-menu-link {
        &::before {
          width: 100%;
        }
      }
    }
  }
  .main-menu-link {   
    // padding: 15px 5px;
    // display: block;
    color: #852e50;
    font-family: "Roboto", 'sans-serif';
    font-size: 12.5px;
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0.1em;

    &::before {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0%;
      height: 2px;
      background:#ed2775;
      content: "";
      transition: all 0.3s;
    }
   

  }
  .active
  {
    border-bottom: 2px solid #ed2775 ;
  }
}

    
   
   


